{% extends "base.html" %}
{% load i18n audit_tags %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}audit/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Website Access Statistics" %} :: {% trans "User fidelity" %}{% endblock %}

{% block content %}
<div class="audit">

{% audit_navigation months %}

{% audit_summary months %} 

{% audit_usage_pie months _("Site usage") 1 160 %}  

{% audit_fidelity_pie months 10 _("User fidelity") 1 160 %} 

</div><!-- class="audit" -->
{% endblock %}
