{% extends "base.html" %}
{% load i18n audit_tags %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}audit/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Website Access Statistics" %} :: {% trans "User identity" %}{% endblock %}

{% block content %}
<div class="audit">

{% audit_navigation months %}

{% audit_summary months %} 

<p class="subtitle">{% trans "Access by country" %}</p>
{% audit_country_pie months "logged" 10 _("Logged users") 1 160 %}
{% audit_country_pie months "anonymous" 10 _("Anonymous users") 1 160 %}<br/>
{% audit_country_map months "logged" "world" _("Logged users") 200 %}
{% audit_country_map months "anonymous" "world" _("Anonymous users") 200 %}

<p class="subtitle">{% trans "Access by city" %}</p>
{% audit_city_pie months "logged" 6 _("Logged users") 1 160 %}
{% audit_city_pie months "anonymous" 12 _("Anonymous users") 1 160 %}

<p class="subtitle">{% trans "Access by OS" %}</p>
{% audit_os_pie months "logged" 8 _("Logged users") 1 160 %}
{% audit_os_pie months "anonymous" 8 _("Anonymous users") 1 160 %}

<p class="subtitle">{% trans "Access by browser" %}</p>
{% audit_browser_pie months "logged" 8 _("Logged users") 1 160 %}
{% audit_browser_pie months "anonymous" 8 _("Anonymous users") 1 160 %}

<p class="subtitle">{% trans "Access by bots" %}</p>
{% audit_bot_pie months 12 %}

</div><!-- class="audit" -->
{% endblock %}
