{% extends "base.html" %}
{% load i18n audit_tags %}

{% block media %}
  {{ block.super }}
  <link href="{{ MEDIA_URL }}audit/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}{% trans "Website Access Statistics" %} :: {% trans "Popularity" %}{% endblock %}

{% block content %}
<div class="audit">

{% audit_navigation months %}

{% audit_summary months %} 

{% audit_daily_plot months "lines" _("Daily usage") 1 160 %}

{% audit_weekly_plot months "bars" _("Weekly usage") 1 160 %}<br/>

{% audit_monthly_plot months "bars" _("Monthly usage") 1 160 %}

{% audit_usagehours_plot months _("Daily usage hours") 1 160 %}

<p class="subtitle">{% trans "Most popular URLs" %}</p>
{% audit_popular_urls months 20 %}


</div><!-- class="audit" -->
{% endblock %}
