{% extends "base.html" %}
{% load i18n audit_tags %}

{% block media %}
  {{ block.super }}
{% endblock %}

{% block title %}{% trans "Website Access Statistics" %} :: {% trans "Popularity" %}{% endblock %}

{% block content %}
<div class="audit">

{% audit_navigation months %}

<p class="title">{% trans "Popularity" %}</p>

{% audit_summary months %} 

<img src="{{ daily.url }}" width="{{ daily.width }}" height="{{ daily.height }}"/>

<img src="{{ weekly.url }}" width="{{ weekly.width }}" height="{{ weekly.height }}"/>

<img src="{{ monthly.url }}" width="{{ monthly.width }}" height="{{ monthly.height }}"/>

<img src="{{ hours.url }}" width="{{ hours.width }}" height="{{ hours.height }}"/>

<p class="subtitle">{% trans "Most popular URLs" %}</p>

<p>{% trans "Statistics in this section does not cover visits by bots." %}</p>

<ol>
  {% for obj in visited %}<li><a href="{{ obj.0 }}">{{ obj.0 }}</a>: {{ obj.1 }} {% trans "visit" %}{{ obj.1|pluralize:_("s") }}</li>{% endfor %}
</ol>

</div><!-- class="audit" -->
{% endblock %}
